.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -4px;
}
.SingleColorBox .ColorBox {
  height: 50%;
}
.go-back.ColorBox {
  background-color: #000;
}

.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -50px;
  display: inline-block;
  text-align: center;
  outline: none;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.copy-button {
  opacity: 0;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}
.box-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.light-text {
  color: white;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border: none;
  text-transform: uppercase;
}
.ColorBox .dark-text {
  color: rgba(0, 0, 0, 0.5);
}

.copy-overlay {
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.6 ease-in-out;
}

.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}

.copy-msg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: white;
}

.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 25;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
}

.copy-msg h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
}
